    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #123;
    font-size: 12px;
    text-transform: capitalize;
    perspective: 600px;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.container{
position: relative;
}
#counter{
    font-size: 1.5rem;
    background: linear-gradient(135deg, rgba(71, 176, 203, 0.48) 0%, rgba(166, 218, 204, 0.12) 100%);
    backdrop-filter: blur(50px); 
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
}
.team-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.team-photo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 2px #fff;
    font-size: 1.5rem;
    overflow: hidden;
}
@media (min-width: 350px) {
    .team-area {
    max-width:340px;
    min-width: 300px;

    }
}
.team-photo img{
    width: 100%;
    height: 100%;
}
.team-a,.team-b{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.321) 100%);
    backdrop-filter: blur(50px); 
}
/* ///////////////////////////form/////////////// */
.form-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 55;
    /* display: none; */
}
.form-content{
    width:400px;
    height: 625px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(50px); 
    padding:0 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9999991b;
    position: relative;
}
.team-input{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}
.logo div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgba(251, 186, 23, 0.879);
    overflow: hidden;
}
.logo img{
    width: 100%;
    display: block;
}
.team-name{
    width: 100%;
}
.team-name input,#smbt{
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    display: block;
    margin:5px auto;
    background-color: rgba(40, 67, 93, 0.671);;
    color: #ffffffbd;
}
input::placeholder{
    color: #ffffffbd;
}
label{
    display: block;
    width: 80%;
    margin:0 auto;
    font-size: 1.2rem;
}
#smbt{
    background-color: rgba(50, 200, 50, 0.722);
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}
/* ///////////////////////////////////// */
.game-container{
    display: none;
    justify-content: center;
    align-items: center;

}
.game-content{
    width: 400px;
    height: 75vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(50px); 
    position: relative;
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    perspective: 600px;
}
.game-photo{
    width: 80%;
    height: 50%;
    position: relative;
    border: solid 2px gold;
    border-radius: 15px;
    overflow:visible;
    transform-style: preserve-3d;
    transition: 1s;
}
.front,.back{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
}
.front{
    background-image: url('../img/unkown.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    backface-visibility: hidden;
    /* display: none; */
}
.back{
    transform: rotateY(180deg);
    overflow: hidden;
}
.back img{
    width: 100%;
    height: 100%;
}
.btn{
    bottom: 11;
    /* width: 80%; */
    background-color: rgb(1, 127, 252);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 0;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 2px;
}
#startButton{
    grid-column: 1/3;
}
.true-false{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.check{
    /* width: 40%; */
    margin: 10px;
}
/* .game-photo:hover {
    transform: rotateY(180deg);
} */
